{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>

    <!-- stylesheets -->
    <!-- <link rel="stylesheet" href="./css/styles.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <!-- javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <!-- ajax link jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <style>
        .bg-mycolor {
            background: linear-gradient(225deg, #fdc012 16%, #f37335 100%);
        }
    </style>
     <script src="https://kit.fontawesome.com/71f1ca357e.js" crossorigin="anonymous"></script>
    

  </head>

  <body>
    <!-- navigation bar -->
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img
              src="https://cdni.iconscout.com/illustration/premium/thumb/pandit-ji-2704960-2252413.png"
              height="40"
              width="70"
              alt="logo"
            />
          </a>
          <a class="navbar-brand" href="#"> PanditMitra </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}">Book Puja/Havan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pandit' %}">Pandit Profiles</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'aboutUs' %}">About Us</a>
              </li>
            </ul>
            <!-- <form class="d-flex"> -->
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <a class="nav-link d-flex" href="#">
              <button class="btn btn-outline-warning" type="submit">
                Login
              </button>
            </a> -->
            {% if user.is_authenticated %}
              <!-- <form class="d-flex"> -->
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <a class="nav-link d-flex">
                <span class="text-warning" >{{user.username}}</span>

              </a>
              <a class="nav-link d-flex" href="{% url 'logout' %}">
                  <button class="btn btn-outline-warning" type="submit">Logout</button>
              </a>
            {% else %}
              <!-- <form class="d-flex"> -->
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <a class="nav-link d-flex" href="{% url 'login' %}">
                  <button class="btn btn-outline-warning" type="submit">Login</button>
              </a>
            {% endif %} 
            <!-- </form> -->
          </div>
        </div>
      </nav>
    </div>
    <!-- navigation bar -->

    <!-- Signup -->
    <section class="gradient-custom bg-myBackground">
      <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-mycolor text-white" style="border-radius: 1rem;">
                      <div class="card-body p-5 text-center">

                          <div class="">

                              <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                              <p class="text-white-50">Create an account here!</p>

                            <form method="post" action="">{% csrf_token %}
                              <div class="form-outline form-white mb-4">
                                  <label class="form-label" for="typeEmailX">Enter Username</label>
                                  <input type="text" name="uname" id="" class="form-control form-control-lg" />
                              </div>
                              <div class="form-outline form-white mb-4">
                                  <label class="form-label" for="typeEmailX">Enter Email</label>
                                  <input type="email" name="email" id="" class="form-control form-control-lg" />
                              </div>

                              <div class="form-outline form-white mb-4">
                                  <label class="form-label" for="typePasswordX">Enter Password</label>
                                  <input type="password" name="pass" id="" class="form-control form-control-lg" />
                              </div>

                              <div class="form-outline form-white mb-4">
                                  <label class="form-label" for="typePasswordX">Confirm Password</label>
                                  <input type="password" name="pass2" id="" class="form-control form-control-lg" />
                              </div>

                              <div>
                                  <div class="form-check form-check-inline ">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio1" value="option1">
                                      <label class="form-check-label " for="inlineRadio1">as Customer</label>
                                  </div>
                                  <div class="form-check form-check-inline ">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio2" value="option2">
                                      <label class="form-check-label " for="inlineRadio2">as Pandit</label>
                                  </div>
                              </div>

                              <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a>
                              </p> -->

                              <button class="btn btn-outline-light btn-lg px-5 my-3" type="submit">Register</button>
                            </form>
                            <p class="mb-0">Already have an account? <a href="{% url 'login' %}" class="text-white"><u>Login</u></a></p>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- Signup -->

       <!-- Footer -->
       <footer class="text-center text-lg-start bg-warning text-muted">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span style="color:red;">Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Panditmitra
                </h6>
                <p style="color:red;">
                  Started in 2022 Panditmitra is an initiative to help people to get puja samagris and pandit at a single place.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Pujas
                </h6>
                <p style="color:red;">
                  <a href="{% url 'book' %}" class="text-reset">Mahalaxmi Puja</a>
                </p>
                <p style="color:red;">
                  <a href="{% url 'book' %}" class="text-reset">Laxmi Kuber havan</a>
                </p>
                <p style="color:red;">
                  <a href="{% url 'book' %}" class="text-reset">Dusshera</a>
                </p>
                <!-- <p style="color:red;">
                  <a href="#!" class="text-reset">Early Marriage/Remove Wedding Obstacles</a>
                </p> -->
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Main links
                </h6>
                <p style="color:red;">
                  <a href="{% url 'login' %}" class="text-reset">Login/Register</a>
                </p>
                <p style="color:red;">
                  <a href="#!" class="text-reset">Temple Services</a>
                </p>
                <p style="color:red;">
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p style="color:red;">
                  <a href="{% url 'aboutUs' %}" class="text-reset">Help</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p style="color:red;"><i class="fas fa-home me-3"></i> Pune, Maharashtra</p>
                <p style="color:red;">
                  <i class="fas fa-envelope me-3"></i>
                  <a class="text-danger" href="mailto:panditmitrateam@gmail.com">panditmitrateam@gmail.com</a>
                </p>
                <p style="color:red;"><i class="fas fa-phone me-3"></i><a class="text-danger" href="tel:+911234567890">+911234567890</a></p>
                <p style="color:red;"><i class="fas fa-print me-3"></i><a class="text-danger" href="tel:+910987654321">+910987654321</a></p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.568);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://panditmitra.com/">Panditmitra.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
  </body>
  <script type="text/javascript">
    console.log("hello world!");
  </script>
</html>
